* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.container:after,
.container:before {
    content: "";
    display: table;
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col25 {
    width: 25%;
    float: left;
    padding: 0 15px;
}
.col33 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.col50 {
    width: 50%;
    float: left;
    padding: 0 15px;
    text-align: justify;
}
.col75 {
    width: 75%;
    float: left;
    padding: 0 15px;
}
.col100 {
    width: 100%;
    float: left;
    padding: 0 15px;
}
/* Header */
.banner {
    background: purple;
    padding: 26px 20px;
}
.logo {
    display: block;
    float: left;
}
.menu {
    float: right;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu ul li {
    list-style: none;
    float:left;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 25px;
}
.menu ul li a:hover {
    background: #9412ff;
}

/* Main-Content */
.a{
    background: violet;
}
.b {
    background: #B800FF;
}
.c {
    background: #D200D2;
}
.d {
    background: #9412FF;
}
.e {
    background: #7D00E4;
}
.f {
    background: #AE09AE;
}
.g {
    background: #9500CF;
}
.h {
    background: #BE2EDD;
}

.single-content h2 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid #fff;
}
.single-content p {
    color: #fff;
    font-size: 16px;
    text-align: justify;
}
.border {
    border-right: 2px solid #fff;
}

/* Sidebar */
.j h2 {
    color: #000;
}
.j p {
    color: #000;
}